.follow-us {

&__title {
    font-weight: 700;
    color: var(--third-color);
    font-size: 14px;
    line-height: 16.41px;
  }
  
  &__items {
    display: flex;
    flex-direction: row;
  }
  
  &__icon {
    margin-right: 10px;
  }
  
  &__link {
    fill: var(--third-color);
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
  }
  
  &__link:hover,
  &__link:focus {
    background-color: var(--second-color);
    transition: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}