.newsletter {
    margin-left: 78px;
    
    &__form {
      display: flex;
    }
    
    &__title {
      color: var(--third-color);
      font-weight: 700;
      font-size: 14px;
      line-height: 1.143;
      letter-spacing: 0.03em;
      text-transform: uppercase;
    }
    
    &__form-input {
      width: 358px;
      padding-left: 16px;
      margin-right: 12px;
      border: 1px solid rgba(255, 255, 255, 0.3);
      box-sizing: border-box;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
      border-radius: 4px;
      background: #2f303a;
    }
    
    &__form-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px 28px 10px 42px;
      background: var(--second-color);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      border-radius: 4px;
      border: none;
      cursor: pointer;
      color: var(--third-color);
    }
    
    &__icon-send {
      width: 24px;
      height: 24px;
      margin-left: 24px;
    }
  }